<section class="col-12">
    <h1 class="text-center">{{news.title}}</h1>
    <div class="d-flex justify-content-center">
        <img class="col-md-12 col-lg-7" src={{news.cover}} alt={{news.title}}>
    </div>
    <div class="text-center">
        {{news.description}}
    </div>
    <span class="text-muted">{{news.author}}</span>
    {{#if news.viewsCount}}
        Views: {{news.viewsCount}}
        {{else}} 
        Nobody have seen it
    {{/if}}
    <div class="d-flex justify-content-center">
        <form action="http://localhost:3000/comment/add/{{news.id}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Text:</label>
                <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <label for="cover" class="form-label">Photo</label>
            <input class="form-control" type="file" name="cover">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="author" id="name" placeholder="Your name">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>  
        </form>
    </div>
    <div>
        <ul>
            {{#each comments }}
                <li>
                    <div class="d-flex">
                        <img width="100px" height="100px" src={{this.cover}} alt={{this.author}}>
                        <div>
                            {{this.author}}
                            {{this.text}}
                        </div>
                    </div>
                  {{#each this.nestedComments}}
                    {{this.text}}
                  {{/each}}
                  <form class="col-lg-4" method="post" action="http://localhost:3000/comment/nest/{{this.id}}">
                    <div class="form-group">
                        <label for="nest">Answer:</label>
                        <textarea name="text" class="form-control" id="nest" rows="3"></textarea>
                        <button type="submit" class="btn btn-success">Submit</button> 
                    </div>
                  </form>
                </li>
            {{/each}}
        </ul>
    </div>
</section>