<section class="col-12">
    <h1 class="text-center">{{news.title}}</h1>
    <div class="d-flex justify-content-center">
        <img class="col-md-12 col-lg-7" src={{news.cover}} alt={{news.title}}>
    </div>
    <div class="text-center">
        {{news.description}}
    </div>
    <span class="text-muted">{{news.author}}</span>
    {{#if news.viewsCount}}
        Views: {{news.viewsCount}}
        {{else}} 
        Nobody have seen it
    {{/if}}
    <div class="d-flex justify-content-center">
        <form action="#" onsubmit="" id="add-comment">
            <div class="form-group">
                <label for="comment">Text:</label>
                <textarea name="text" class="form-control" id="comment" rows="3"></textarea>
            </div>
            <button id="comment-button" type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <div>
        <ul id="comments-list">
            {{#each comments }}
                <li id="li-{{this.id}}" data-id={{this.id}}>
                    <div class="d-flex">
                        <img width="100px" height="100px" src={{this.cover}} alt={{this.author}}>
                        <div>
                            {{this.firstName}}
                            <p id="comment-{{this.id}}">{{this.comment}}</p>
                        </div>
                      {{#changer mainId this.userId role 'deleteComment'}}{{/changer}}
                      {{#changer mainId this.userId role 'changeComment'}}{{/changer}}
                    </div>
                  {{#each this.nestedComments}}
                    {{this.text}}
                  {{/each}}
                  <form class="col-lg-4">
                    <div class="form-group">
                        <label for="nest">Answer:</label>
                        <textarea name="text" class="form-control" id="nest" rows="3"></textarea>
                        <button type="submit"  class="btn btn-success">Submit</button>
                    </div>
                  </form>
                </li>
            {{/each}}
        </ul>
    </div>
</section>